* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}
img {
  /* width: 90px; */
}
body {
  display: flex;
}
.column-left {
  background: url(images/pandu-ior-hckbnUpcm6E-unsplash.jpg);
}

.label-container {
  display: flex;
}
